{% extends "base.html" %}
{% block body %}
{{ render_pagination(pagination, 'team.get_teams') }}
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Pais</th>
        <th>Ganados</th>
        <th>Empatados</th>
        <th>Perdidos</th>
      </tr>
    </thead>
    <tbody>
      {% for team in teams %}
        <tr>
          <td>{{ team.name }}</td>
          <td>0 juegos</td>
          <td>0 juegos</td>
          <td>0 juegos</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
